<div class="row">
  <div class="col">
    <img [src]="recipeToDisplay.imagePath" alt="{{ recipeToDisplay.name }}" class="img-fluid" style="height: 300px">
  </div>
</div>
<div class="row">
  <div class="col">
    <h1>{{ recipeToDisplay.name }}</h1>
  </div>
</div>
<div class="row">
  <div class="col">
    <div class="btn-group">
      <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Manage Recipe
      </button>
      <div class="dropdown-menu"
        appDropdown
      >
        <a class="dropdown-item" href="#">To shopping list</a>
        <a class="dropdown-item" href="#">Edit recipe</a>
        <a class="dropdown-item" href="#">Delete recipe</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">Separated link</a>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col">
    {{recipeToDisplay.descriptor}}
  </div>
</div>
<div class="row">
  <div class="col">
    Ingredients
  </div>
</div>